apiVersion: apps/v1
kind: Deployment
metadata:
  name: budget-app
  labels:
    app: budget-app
    name: budget-app
  namespace: budget-app
spec:
  replicas: 1
  selector:
    matchLabels:
      app: budget-app
      name: budget-app
  template:
    metadata:
      labels:
        app: budget-app
        name: budget-app
    spec:
      containers:
      - image: IMAGE_NAME
        name: budget-app
        ports:
        - containerPort: 8080
          name: budget-app
---
